.v-container .image-container{
    border: 8px solid rgb(232 232 232 /93%);
}

.v-container>div{
    flex:1;
}

.v-right{
    gap: 0.7rem;
}

.image-container{
    border-radius: 8px 0px;
    border-color: aquamarine;
}
