.footer {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #000; /* Black background */
  color: #fff; /* White text */
}

.footer__logo img {
  height: 50px;
}

.footer__content p {
  margin: 0;
}


/* border-image-source sets the image to be used as the border. 
   The linear-gradient(to right, blue, purple) function 
  creates a linear gradient that starts from blue and transitions to purple
  from left to right. 
  The border-image-slice property specifies where to slice the border image. */