.footer {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #000; /* Black background */
  color: #fff; /* White text */
  border: 4px solid; /* Adjust border width as needed */
  border-image-source: linear-gradient(
    75deg,
    red 20%,
    orange 20% 40%,
    yellow 40% 60%,
    green 60% 80%,
    blue 80%
  );
  border-image-slice: 1;
}

.footer__logo {
  display: flex;
  align-items: center; /* Align logo and text vertically */
}

.footer__logo img {
  height: 50px;
  transition: transform 0.3s ease-in-out; /* Add transition to logo */
}

.footer__logo img:hover {
  transform: scale(1.2); /* Grow logo when hovered */
}

.footer__logo .logo-text {
  margin-left: 10px; /* Space between logo and text */
}

.footer__content p {
  margin: 0;
}


/* border-image-source sets the image to be used as the border. 
    The linear-gradient(to right, blue, purple) function 
    creates a linear gradient that starts from blue and transitions to purple
    from left to right. 
    The border-image-slice property specifies where to slice the border image. */

/* Transition: transform 0.3s ease-in-out;
    is added to smoothly change the size of the footer over a period of 0.3 seconds.
    When the mouse hovers over the footer, transform: scale(1.05);
    increases the size of the footer by 5%.
this will increase the size of the footer in all directions. 
To grow in a specific direction,
you can use scaleX() or scaleY() instead of scale().  */