

.row {
    /* display: flex; */
    text-align: center;
  }
  
  /* Create two equal columns that sits next to each other */
  .image-section {
    /* flex: 30%; */
    /* float: left; */
    width:25%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
    background-color: aqua;
    text-align: center;
    display: inline-block;
    max-width: 100%;
    min-width: 150px;
    position: absolute;
  }


  .image-section-b {
    width:25%;
    margin-left: 60%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
    background-color: aqua;
    text-align: center;
    display: inline-block;
    max-width: 100%;
    min-width: 150px;
    position: absolute;
  }



  .container{
    background-color: red;
    height: 300px;
    width:75%;
    display: inline-block;
    min-width: 500px;
  }


  .container-b{
    background-color: red;
    height: 300px;
    width:75%;
    display: inline-block;
    min-width: 500px;
  }

  .super-container{
    width:50%;
    position: relative;
    margin-left: 25%;
    min-width: 400px;
    display: inline-block;
  }

  .super-container-b{
    width:50%;
    position: relative;
    margin-left: 25%;
    min-width: 400px;
    display: inline-block;
  }

  .image-section-b {
    /* flex: 30%; */
    /* float: right; */
    width:30%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
    background-color: aqua;
    text-align: center;
    /* display: inline-block; */
    max-width: 100%;
    min-width: 150px;
  }

  .text-section-a {
    /* flex: 70%; */
    /* width:fit-content; */
    float: left;
    /* margin-top: 3rem; */
    /* align-items: center; */
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
  }

  .text-section-b {
    /* flex: 70%; */
    float: left;
    width:70%;
    margin-top: 3rem;
    align-items: center;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
    /* display: inline-block; */
    max-width: 100%;
    min-width: 300px;
   font-size: 30px;
  }




  .card-img-top{
    border-radius: 50%; 
    display: flex;
    width: 15rem;
    height: 12rem;
   max-width: 100%;
   min-width: 100px;
}


@media screen and (max-width: 200px) {
    .image-section {
      width: 30%;
    }
    .text-section {
        width: 70%;
      }
  } 