.h-wrapper{
    background-color: var(--black);
    color:white;
}

.h-container{
    justify-content: space-between;
    padding-top: 1rem ;
    padding-bottom: 1rem;
    color:var(--secondary);
    z-index:10000;
}

.h-menu{
    gap:2rem;
}

.h-menu>*:hover{
    cursor: pointer;
}

.orange-icon{
    height: 2rem;
    width:2rem;
    background: var(--orange-gradient);
    border-radius: 999px;
    position: absolute;
    left:6%;
    top:1%;
}