.footer {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background-color: #000; /* Black background */
  color: #fff; /* White text */
  border: 5px solid transparent; /* Adjust border width as needed */
  animation: borderGlow 20s linear infinite;
}

@keyframes borderGlow {
  0% { 
    border: 5px solid transparent;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
  }
  25% {
    border: 5px solid red; /* Adjust colors as needed */
    box-shadow: 0 0 20px rgba(255, 0, 0, 0.8);
  }
  50% {
    border: 5px solid yellow; /* Adjust colors as needed */
    box-shadow: 0 0 20px rgba(255, 255, 0, 0.8);
  }
  75% {
    border: 5px solid blue; /* Adjust colors as needed */
    box-shadow: 0 0 20px rgba(0, 0, 255, 0.8);
  }
  100% {
    border: 5px solid transparent;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
  }
}

.footer__logo {
  display: flex;
  align-items: center; /* Align logo and text vertically */
}

.footer__logo img {
  height: 69px;
  transition: transform 0.3s ease-in-out; /* Add transition to logo */
}

.footer__logo img:hover {
  transform: scale(1.2) rotate(-180deg); /* Grow logo when hovered */
}

.footer__logo .logo-text {
  margin-left: 10px; /* Space between logo and text */
}

.footer__content p {
  display: flexbox;
  margin-top: 1rem;
}

/* border-image-source sets the image to be used as the border. 
    The linear-gradient(to Right, red, orange, yellow, green, blue) function 
    creates a linear gradient that starts from red and transitions to blue
    from left to right. 
    The border-image-slice property specifies where to slice the border image. */

/* Transition: transform 0.3s ease-in-out;
    is added to smoothly change the size of the footer over a period of 0.3 seconds.
    When the mouse hovers over the footer, transform: scale(1.05);
    increases the size of the footer by 5%.
this will increase the size of the footer in all directions. 
To grow in a specific direction,
you can use scaleX() or scaleY() instead of scale().  */
